<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>
<h1>Category List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td><a th:href="|/category/view-category/${category.id}|" th:text="${category.name}"></a></td>
        <td><a th:href="|/category/edit/${category.id}|">Edit</a></td>
        <td><a th:href="|/category/delete/${category.id}|">Delete</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/category/add}">Add New Category</a>
</body>
</html>
